.pages {
  width: 75%;
  margin: 1em 0 30px 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-link {
  padding: 8px 16px;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
}

.page-link:hover {
  background-color: #c0c0c0;
}

.active {
  color: red;
}
