#detail {
  margin-left: 20%;
  padding-top: 50px;
}

#detail > .card {
  width: 95%;
  height: 70vh;
  margin: auto;
  border: 1px solid black;
}

#detail p {
  font-size: 32px;
  font-weight: bolder;
}
