#detail {
  margin-left: 20%;
  padding-top: 50px;
}

#detail > .card {
  width: 95%;
  height: 70vh;
  margin: auto;
  border: 1px solid black;
}

#detail > .card p {
  font-size: 32px;
  font-weight: bolder;
}

.flex-detail {
  padding-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

.flex-detail > .card {
  width: calc(100vw / 8);
  height: 150px;
}

.clear-button {
  margin: 10px 0 15px 0;
  text-align: center;
}

.clear-button > button {
  width: 200px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
